<!doctype html>
<title>RPass - {{ title }}</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<body>

    <header>
        {% block header %}{% endblock %}
    </header>

    <h1>{{ title }}</h1>

    <h3>{{ message }}</h3>

    <nav>
        <ul>
            {% if name %}
                <li>Current User: <a href="{{ url_for('user_management') }}">{{ name }}</a>
            {% endif %}
            <li><a href="{{ url_for('home_page') }}">Home</a>
            {% if name %}
                <li><a href="{{ url_for('password_generation') }}">Password Generation</a>
                <li><a href="{{ url_for('password_entropy_calculator') }}">Password Entropy Calculator</a>
                <li><a href="{{ url_for('password_storage') }}">Password Storage</a>
                <li><a href="{{ url_for('user_management') }}">User Management</a>
                <li><a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
                <li><a href="{{ url_for('user_register') }}">Register</a>
                <li><a href="{{ url_for('login') }}">Log In</a>
            {% endif %}
        </ul>
    </nav>

    {% if displayUserRegisterForm == True %}
        <form action="{{ url_for('user_register') }}" method="post">
            <p>Email: <input type=text name=email></p>
            <p>Username: <input type=text name=username></p>
            <p>Password: <input type=password name=password></p>
            <p><input type=submit value=Register></p>
        </form>
    {% endif %}

    {% if displayLogonForm == True %}
        <form action="{{ url_for('login') }}" method="post">
            <p>Username: <input type=text name=username>
            <p>Password: <input type=password name=password>
            <p><input type=submit value=Login>
        </form>
    {% endif %}
    {% block form %}{% endblock %}
    {% block content %}{% endblock %}

</body>