{%  extends "base.html" %}
{% block content %}
    {% if passwordDeleted %}
        <h3>Password Successfully Deleted</h3>
    {% endif %}
    {% if passwordToDisplay %}
        <h3>You must submit this form or lose this password.</h3>
        <form action="{{ url_for('password_deletion') }}" method="post">
            Location: {{ passwordToDisplay.acctlocation }}<br><br>
            Username: {{ passwordToDisplay.username }}<br><br>
            <input type="hidden" name="passid" value="{{ passwordToDisplay.id }}">
            <input type=submit name="delpass" value="Confirm Deletion">
        </form>
    {% endif %}
{% endblock %}


