{%  extends "base.html" %}
{% block content %}
    {% if generated_password != "" %}
        <p>Random Password: {{ generated_password }}</p>
        <p>Random Password Entropy: {{ generated_password_entropy }}</p>
    {% endif %}
    <form action="{{ url_for('password_generation') }}" method="post">
        <p>Desired Length: <input type="text", name="length"></p>
        <p>Use Lower Case Letters: <input type="checkbox" name=lowers></p>
        <p>Use Upper Case Letters: <input type="checkbox" name=uppers></p>
        <p>Use Numbers : <input type="checkbox" name=numbers></p>
        <p>Use Special Characters [!@#$%^&*,./~`'"{}()<>=+\|;:]  : <input type="checkbox" name=specials></p>
        <p><input type=submit value=Generate></p>
    </form>
{% endblock %}