{%  extends "base.html" %}
{% block content %}
    {% if passwords %}
        <table border="1">
            <tr><th>Location</th><th>Username</th><th>Password</th><th>Display</th><th>Delete</th><th>Modify</th></tr>
        {% for password in passwords %}
            <tr><td>{{ password[0] }}</td><td>{{ password[1] }}</td><td>{{ password[2] }}</td>
                <td><form action="{{ url_for('password_storage') }}" method="post">
                    <input type=submit name="display" value="Display {{ password[3] }}"></form></td>
                <td><form action="{{ url_for('password_storage') }}" method="post">
                    <input type=submit name="delete" value="Delete {{ password[3] }}"></form></td>
                <td><form action="{{ url_for('password_modification') }}" method="post">
                    <input type=submit name="mod" value="Modify {{ password[3] }}"></form></td>
            </tr>
        {% endfor %}
        </table>
        </br>
        </br>
        <h3>Submit New Passwords</h3>
        <form action="{{ url_for('password_storage') }}" method="post">
            Location: <input type="text" name="location">
            Username: <input type="text" name="username">
            Password: <input type="password" name="passwd">
            <input type=submit name="newpass" value="Submit">
        </form>
        </br>
        <h3>Delete All Passwords</h3>
        <form action="{{ url_for('password_storage') }}" method="post">
            <p>Type "DELETE" to delete all stored passwords: <input type="text", name="deleteall">
                <input type=submit value="Delete All"></p>
        </form>
    {% endif %}
{% endblock %}
